@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');


@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideOutFromRight {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}

@keyframes slideOutFromRight2 {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%);
        display: none
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes slowZoom {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.2)
    }
}

@keyframes slowUnZoom {
    0% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

div#session-key-div {
    display: none;
}

p#marker-number {
    color: rgb(50, 120, 254);
    font-family: 'Noto Sans', sans-serif;
}

div#master {
    display: none
}

a:hover {
    cursor: pointer;
}

div#top-head {
    z-index: 1;
    margin-left: 10px;
    position: relative;
    display: none;
    animation: 0.25s ease-out 0s 1 slideDown;
    height: 30px;
    width: 390px;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 120, 254);
    margin-bottom: 10px;
    border-radius: 10px;
}

p#p-top-head {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    animation: 2s fadeIn;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img#search-submit-icon {
    max-width: 80%;
    margin-top: 7px;
    margin-left: 20px;
    max-height: 70%;
}

img#x-button {
    max-width: 80%;
    margin-left: 12px;
    margin-top: 5px; 
    max-height: 80%;
}

img:hover {
    cursor: pointer;
}

.flex-container {
    z-index: 1;
    width: 50px;
    position: relative;
    animation: 0.75s ease-out 0s 1 slideInFromLeft;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container > div {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 5px;
}

div#search-icon {
    margin-top: 85px;
}

.flex-container > div:hover {
    animation: 0.5s slowZoom;
    transform: scale(1.2);
}

.flex-container > div:not(:hover) {
    animation: 0.5s slowUnZoom;
    transform: scale(1);
}

.search {
    z-index: 1;
    margin-left: 10px;
    margin-top: 90px;
    position: relative;
    animation: 0.25s ease-out 0s 1 slideInFromLeft;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.search > div {
    z-index: 1;
    background-color: white;
    width: 390px;
    height: 140px;
    overflow: auto;
    margin-bottom: 10px;
    line-height: 75px;
    font-size: 30px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 1px 4px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 4px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 1px 4px 5px -2px rgba(0, 0, 0, 0.5);
}

div#inner-search-div {
    display: flex;
    width: 390px;
    height: 48px;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

div#search-close {
    height: 40px;
    width: 60px;
    align-self: center;
    margin-right: 4px;
    margin-left: 6px;
    background-color: none;
    border-right: 1px solid lightgray;
}

div#lookup {
    width: 250px;
    height: 30px;
    margin-right: 4px;
    align-self: center;
    background-color: none;
}

input#search-input {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    outline: none;
    border: 0;
}

input#search-input::placeholder {
    color: #A9A9A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

input#search-input::-moz-placeholder {
    color: #A9A9A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

input#search-input::-webkit-input-placeholder {
    color: #A9A9A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

div#search-submit {
    width: 60px;
    height: 40px;
    align-self: center;
    background-color: none;
}

div#tracking-numbers-div {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 92px;
    overflow: auto;
    justify-content: left;
    background-color: white;
}

div.tracking-number {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: none;
}

div.tracking-number:hover {
    background-color: lightgrey;
}

div.carrier {
    width: 17%;
    height: 40px;
    background-color: none;
}

img.carrier-pic {
    max-height: 60%;
    max-width: 60%;
    margin-left: 22px;
    margin-top: 7px;
}

div.number {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: none;
}

div.number-container {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: none;
}

div.number-container > p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: black;
    margin-left: 3px;
}

div.edit-delete {
    width: 13%;
    height: 40px;
    background-color: none;
    display: flex;
    flex-direction: row;

}

.login {
    margin-left: 10px;
    position: relative;
    z-index: 1;
    animation: 0.25s ease-out 0s 1 slideInFromLeft;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.login > div {
    background-color: white;
    width: 300px;
    height: 300px;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10px;
    line-height: 75px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 1px 4px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 4px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 1px 4px 5px -2px rgba(0, 0, 0, 0.5);
}

div#account-exit-button {
    width: 25px;
    height: 25px;
}

div#create-account-selection {
    width: 300px;
    height: 150px;
    display: flex;

    /* CHANGE CHANGE CHANGE */

    background-color: rgb(50, 120, 254);
    justify-content: center;
    align-items: center;
}

div#create-account-selection:hover {
    cursor: pointer;
    background-color: rgb(66, 131, 253);
    -webkit-box-shadow: inset 1px 3px 13px -4px rgba(0,0,0,0.30); 
    box-shadow: inset 1px 3px 13px -4px rgba(0,0,0,0.30);
}

div#login-selection {
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;

    /* CHANGE CHANGE CHANGE */

    background-color: none;
}

div#login-selection:hover {
    cursor: pointer;
    
    -webkit-box-shadow: inset 1px 3px 13px -4px rgba(0,0,0,0.60); 
    box-shadow: inset 1px 3px 13px -4px rgba(0,0,0,0.60);
}

div#login-selection > a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: rgb(50, 120, 254);
    text-decoration: underline;
}

img#account-icons {
    width: 100px;
    height: 100px;
}

/* CREATE ACCOUNT CREATE ACCOUNT CREATE ACCOUNT CREATE ACCOUNT CREATE ACCOUNT */

div#create-account-options {
    width: 300px;
    height: 300px;
    flex-direction: column;
    background-color: rgb(50, 120, 254);
    display: none;
    align-items: center;
}

div#create-account-text {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    background-color: none;
    align-items: center;
    text-align: center;
}

div#back-button {
    height: 50px;
    width: 50px;
    justify-self: flex-start;
    background-color: none;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

div#create-account-text > h1 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 20px;
}

img#back-button-icon {
    margin-top: 7px;
    max-width: 75%;
    max-height: 75%;
}

img#back-button-icon:hover {
    animation: 0.25s ease-out 0s 1 slowZoom;
    transform: scale(1.2);
}

div#create-username {
    width: 250px;
    height: 50px;
    margin-top: 25px;
    display: flex;
    background-color: none;
}

input#create-username-input {
    width: 100%;
    color: white;
    outline: none;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid white;
    background-color: transparent;
}

input#create-username-input::placeholder {
    color: white;
}

input#create-username-input::-moz-placeholder {
    color: white;
}

input#create-username-input::-webkit-input-placeholder {
    color: white;
}

div#create-password {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    background-color: none;
}

input#create-password-input {
    width: 100%;
    color: white;
    outline: none;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid white;
    background-color: transparent;
}

input#create-password-input::placeholder {
    color: white;
}

input#create-password-input::-moz-placeholder {
    color: white;
}

input#create-password-input::-webkit-input-placeholder {
    color: white;
}

div#create-button{
    width: 100px;
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}

div#create-button > a {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 10px;
}




/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN */

div#login-options {
    width: 300px;
    height: 300px;
    flex-direction: column;
    background-color: none;
    display: none;
    align-items: center;
}

div#login-text {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    background-color: none;
    align-items: center;
}

div#login-text > h1 {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(50, 120, 254);
    font-size: 20px;
    margin-left: 40px;
}

div#login-username {
    width: 250px;
    height: 50px;
    margin-top: 25px;
    display: flex;
    background-color: none;
}

input#login-username-input {
    width: 100%;
    color: rgb(50, 120, 254);
    outline: none;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid rgb(50, 120, 254);
    background-color: transparent;
    caret-color: rgb(50, 120, 254);
}

input#login-username-input::placeholder {
    color: rgb(50, 120, 254);
}

input#login-username-input::-moz-placeholder {
    color: rgb(50, 120, 254);
}

input#login-username-input::-webkit-input-placeholder {
    color: rgb(50, 120, 254);
}

div#login-password {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    background-color: none;
}

input#login-password-input {
    width: 100%;
    color: rgb(50, 120, 254);
    outline: none;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid rgb(50, 120, 254);
    background-color: transparent; 
    caret-color: rgb(50, 120, 254);
}

input#login-password-input::placeholder {
    color: rgb(50, 120, 254);
}

input#login-password-input::-moz-placeholder {
    color: rgb(50, 120, 254);
}

input#loginte-password-input::-webkit-input-placeholder {
    color: rgb(50, 120, 254);
}

div#enter-button{
    width: 100px;
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}

div#enter-button > a {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(50, 120, 254);
    font-size: 10px;
}


/* LOGGED IN MINI-DIV */

div#logged-in {
    height: 100px;
    width: 200px;
    flex-direction: column;
    display: none;
    justify-content: center;
}

div#username-div {
    height: 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 120, 254);
}

div#username-div > p {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

div#exit {
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

div#exit > div {
    height: 50px;
    width: 70px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

a#logout {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(50, 120, 254);
}


div#map {
    display: flex;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: none;
}






body {
    margin-left: 0;
    margin-top: 0;
}



